@media (min-width: 1024px){
    #restaurants{
        display:flex;
        flex-direction:row;
        justify-content:space-evenly;
        min-width:1024px;
        width:100%;
        padding-top:3%;
    }
    .icone{
        margin-right:10px;
    }
    #explore-pc-tab{
        background:linear-gradient(to bottom right, #ff79da, #9356dc);
        border:none;
        border-radius:50px 50px 50px 50px;
        width:300px;
        height:70px;
        font-size:20px;
        font-weight: bold;
        box-shadow:0px 5px 5px rgba(126, 126, 126, 0.5);
        color: white;
        margin-bottom:50px;
    }
    #explore-pc-tab:hover{
        box-shadow:0px 5px 5px rgba(126, 126, 126, 0.8);
        background:linear-gradient(to bottom right, rgba(255, 121, 218, 0.9), rgba(147, 86, 220, 0.9));
    }
    .titre_s2{
        position:absolute;
        padding-bottom:50px;
        margin-bottom:250px;
        margin-left:200px;
    }
    .meal:hover > .list_menu{
        max-width:72%;
    }

    .coeur-vide{
        margin-left:215px;
        height:18px;
    }
    figure.element{
        flex-basis:200px;
        object-fit:cover;
        max-width:250px;
        margin-top:25%;
    }
    figure.element:first-child{
        margin-left:0px;
        margin-right:0px;
    }
    img.back{
        min-width:250px;
        max-width:400px;
    }
    #fonctionnement{
        display:flex;
        flex-direction:row;
    }
    .titre_s1{
        position:absolute;
    }
    .etape{
        margin:10% 5% 2% 5%;
        min-width:250px;
        max-width:400px;
        height:50px;
        display:flex;
        justify-content:center;
    }
    a{
        width:min-content;
        text-decoration:none;
        color:black;
    }
    #quote{
        display:none;
    }
    #quote_pc-tab{
        background-color:#f6f6f6;
        width:100%;
        height:100%;
        display:flex;
        flex-direction:column;
        justify-content:flex-start;
        align-items:center;
    }
    .number{
        position:absolute;
        border-radius:35px;
        padding:0.75% 1% 0.75% 1%;
        margin-right:250px;
        background-color:#9356DC;
        color:white;
        font-weight:bold;
    }
    h4.logo{
        font-size:25px;
        margin-bottom:5px;
    }
    li{
        font-size:15px;
    }
    .icone{
        height:20px;
    }
    .icone-small{
        height:15px;
        margin-right:5px;
    }
    .coeur{
        position:absolute;
        margin-top:-30px;
        margin-left:215px;
    }
    main{
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;

    }
    section.menu{
        max-width:33%;
        height:500px;
        margin-top:-5%;
        display:flex;
        justify-content:flex-start;

    }
    #name-menu{
        font-size:40px;
        margin:0px;
        padding-bottom:2%;
    }
    .icone-menu{
        margin:6%;
        height:30px;
    }
    .back-menu{
        max-height:600px;
        min-width:100%;
        object-fit:cover;
    }
    .logo-menu{
        font-size:40px;
        margin-left:5%;
    }
    .step{
        font-size:20px;
        margin-left:30px;
    }
    
    
}