@media (min-width: 768px) and (max-width: 1023px) {
    #restaurants{
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
    }
    .titre_s2{
        position:absolute;
    }
    #fonctionnement{
        display:flex;
        flex-direction:row;
    }
    .titre_s1{
        position:absolute;
    }
    .etape{
        min-width:200px;
        margin:10% 5% 2% 5%;
        height:50px;
        display:flex;
        justify-content:center;
    }
    figure.element{
        margin-top:15%;
    }
    a{
        max-width:min-content;
        height:100%;
        color:black;
    }
    #quote{
        display:none;
    }
    #quote_pc-tab{
        background-color:#f6f6f6;
        width:100%;
        height:100%;
        display:flex;
        flex-direction:column;
        justify-content:flex-start;
    }
    }
    
}