@font-face {
    font-family: "Roboto";
    src: url("police/Roboto/Roboto-Regular.ttf") format("truetype");
}
body{
    font-family:"Roboto";
    width:auto;
    margin:auto;
}
main{
    display:flex;
    flex-direction:column;
    align-items:center;
}
header{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.icone{
    height:20px;
}
.icone-small{
    height:15px;
}
ul{
    list-style-type:none;
}
h3{
    text-align: center;
}
#search{
    display:flex;
    width:100%;
    background-color:#a4a4ab;
    align-items:center;
    justify-content:center;
}
.back{
    min-width:300px;
    width:auto;
    max-width:320px;
    height:170px;
    object-fit:cover;
    border-radius:20px 20px 0px 0px;
}
.new{
    float:right;
    
}
.coeur{
}
#fonctionnement{
    display:flex;
    flex-direction:column;
    background-color:white;
    align-items:center;
    justify-content:space-evenly;
}
#fonctionnement h2{
    align-self:flex-start;
}
.etape{
    border:1px solid black;
    min-width:300px;
    background-color:#999491;
    display:flex;
    flex-direction:column;
    align-items:center;
    align-content:space-between;
    margin-top:5%;
    border-radius:20px;
}
#restaurants{
    background-color:#999491;
    min-width:320px;
    display:flex;
    flex-direction:column;
    align-content:center;
    align-items:center;
    justify-content:center;
}
#restaurants h2{
    align-self:flex-start;
}
.element{
    background-color:white;
    object-fit:cover;
    border-radius:20px;
}
footer{
    min-width:320px;
}