@font-face {
    font-family: "Roboto-Regular";
    src: url("police/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face{
    font-family:"Shrikhand";
    src: url("police/Shrikhand/Shrikhand-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto-Thin";
    src: url("police/Roboto/Roboto-Thin.ttf") format("truetype");
}
body{
    font-family:"Roboto-Regular";
    width:auto;
    margin:auto;
}
main{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
#main_menu{
    background-color:#f6f6f6;

}
header{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
}
a{
    text-decoration:none;
    color:black;
    width:min-content;
}
p{
    font-size:15px;
    
}
.line-1 p{
    font-size:16px;
    margin:2%;
}
.line-price p{
    font-size:14px;
    margin-left:2%;
}
#quote{
    background-color:#f6f6f6;
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
}
#quote_pc-tab{
    display:none;
}
.logo1{
    font-family:"Shrikhand";
    font-size:40px;
}
h4.logo{
    font-family:"Shrikhand";
    font-size:18px;
    color:white;
}
.icone{
    height:15px;
    margin-right:30px;
}
.icone-small{
    height:10px;
}
#explore{
    background:linear-gradient(to bottom right, #ff79da, #9356dc);
    border:none;
    border-radius:50px 50px 50px 50px;
    width:300px;
    height:70px;
    font-size:20px;
    font-weight: bold;
    color:white;
    position:center;
    margin-bottom:50px;
}
ul{
    list-style-type:none;
    padding:5px;
    margin:0px;
}
.list_menu{
    list-style-type:none;
    
}
h3{
    font-family:"Roboto-Thin";
    text-align: center;
    font-size:20px;
    padding-bottom:5px;
}
#search{
    display:flex;
    width:100%;
    background-color:#eaeaea;
    align-items:center;
    height:100px;
    justify-content:center;
}
.back{
    min-width:300px;
    width:100%;
    height:170px;
    object-fit:cover;
    border-radius:20px 20px 0px 0px;
}
.new{
    position:absolute;
    background-color:#99e2d0;
    color:#008766;
    margin-left:-95px;
    margin-top:15px;
    padding:5px 10px 5px 10px;
    float:right;
    
}
.titre{
    font-weight:bold;
    font-size:20px;
    text-align:center;
}
#fonctionnement{
    display:flex;
    flex-direction:column;
    background-color:white;
    align-items:center;
    margin-bottom:5%;
    justify-content:space-evenly;
}
#fonctionnement h2{
    align-self:flex-start;
    margin-left:-15px;
}
.etape{
    min-width:300px;
    background-color:#f6f6f6;
    display:flex;
    flex-direction:column;
    align-items:center;
    display:flex;
    justify-content:center;
    align-content:space-between;
    margin-top:5%;
    height:80px;
    display:flex;
    justify-content:center;
    box-shadow: 5px 5px #ececec;
    border-radius:20px;
}
.etape p{
    display:flex;
    font-weight:bold;

}
.grey.store{
    margin-right:25%;
}
#restaurants{
    background-color:#f6f6f6;
    min-width:320px;
    width:100%;
    display:flex;
    flex-direction:column;
    align-content:center;
    align-items:center;
    justify-content:center;
    padding-top:10%;
}
p.price{
    font-weight:bold;

}
.list a{
    color:white;
}
.titre_s2{
    position:absolute;
    float:left;
    margin-bottom:1060px;
    margin-left:-60%;

}
.element{
    background-color:white;
    object-fit:cover;
    border-radius:20px;
    box-shadow:5px 5px #ececec;
    margin:12px;
}
.element:hover{
    box-shadow:10px 10px #eaeaea;
}
footer{
    min-width:320px;
    background-color:#3b3939;
}
.list{
    color:white;
}
#header-menu{
    display:flex;
    flex-direction:row;
    align-items:center;
    width:100%;
    justify-content:flex-start;
}
.icone-menu{
    height:20px;
    margin:10%;
    margin-right:0;
}
.coeur{
    position:absolute;
    margin-top:-30px;
    margin-left:270px;
    height:18px;
}
.legende{
    margin-left:2%;
}
.legende li{
    font-size:15px;
}
.logo-menu{
    font-family:"Shrikhand";
    font-size:30px;
    margin-left:25%;
}
.back-menu{
    height:auto;
    min-width:320px;
    max-width:100%;
    flex-basis:100%;
    object-fit:cover;
}
#img-menu{
    object-fit: cover;
    width: 100%;
}
#name-menu{
    font-family:"Shrikhand";
    font-size:28px;
    background-color:#f6f6f6;
    border-radius:40px 40px 0px 0px;
    width:100%;
    display:flex;
    white-space:nowrap;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    align-content:center;
}
figcaption.name{
    display:flex;
    margin-top:-15%;
}
.menu{
    display:flex;
    flex-direction:column;
    align-content: flex-start;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}
.menu:nth-child(1){
    align-self:flex-start;
}
.line-price{
    display:flex;
    flex-direction:row;
    font-size:13px;
    justify-content:space-between;
}
.meal{
    width:90%;
    height:70px;
    box-shadow:3px 3px 3px 3px #ececec;
    background-color:white;
    border-radius:20px 20px 20px 20px;
    margin-bottom:5%;
}
.step{
    align-self:flex-start;
    border-bottom: 3px solid #99e2d0;
    width:35px;
    margin-left:10px;
    font-size:15px;
}

.line-1{
    font-family:"Roboto-Regular";
    font-weight:bold;
    font-size:17px;
}
p{
    margin:0px;
}
.number{
    position:absolute;
    border-radius:35px;
    padding:1% 1.5% 1% 1.5%;
    margin-right:300px;
    background-color:#9356DC;
    color:white;
    font-weight:bold;
}